/*@import url('http://fonts.googleapis.com/css?family=Handlee');*/

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  font-family: 'COURIER', sans-serif;
  color: rgba(252,251,250,0.6);
}

body 
{
	background-image:url(http://www.walls-inc.net/wallpapers/2013/06/Pandoras-Tower-Artwork-480x320.jpg)
}

.menu .menu-contenido 
{
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  float: left;
  width: 12em;
	background-color:rgba(0, 0, 0, 0.7);
  height:6000px;
}
		
.menu .menu-contenido h2 
{
  font-family: 'Handlee', cursive;
  font-weight: normal;
  margin-left: 1em;
}

.menu .menu-contenido ul 
{
  list-style: none;
}

.menu li,
.menu label
{
  color: rgba(252, 251, 250, 0.5);
  cursor: pointer;
  -webkit-transition-duration: 1.0s;
  -moz-transition-duration: 1.0s;
  -ms-transition-duration: 1.0s;
  -o-transition-duration: 1.0s;
  transition-duration: 1.0s;
}
	
.menu li:hover,
.menu label:hover 
{
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: rgba(252, 251, 250, 0.9);
}


#prueba
{
  background-color:rgba(26, 0, 255, 0.5) ;
  display: none;
}

.menu .menuCambio 
{
  padding-top: 6em;
}
			
.menu .menuCambio label 
{
  font-size: 3em;
  font-family: 'COURIER', sans-serif;
}
			
.menu input 
{
  display: none;
}
		
.menu #menuColapsado:checked ~ .menu-contenido 
{
  margin-left: -12em;
}
		
.menu #menuColapsado:checked ~ .menuCambio .rise 
{
  display: block;
}

.menu #menuColapsado:checked ~ .menuCambio .collapse 
{
  display: none;
}

.menu #menuColapsado ~ .menuCambio .rise 
{
  display: none;
}